{% extends 'base.html' %} {% block title %}Quiz{% endblock %} {% block content
%}

<style>
  .container-fluid {
    height: calc(100vh - 56px); /* Adjusted for the fixed navbar height */
    display: flex;
    padding: 0;
    margin-top: 56px;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .row {
    margin: 0; /* Removes default row margin */
    flex-grow: 1;
  }

  .syllables {
    height: 100%; /* Full height */
    display: flex;
    flex-direction: column; /* Stack syllable boxes vertically */
    justify-content: start; /* Space out the syllables evenly */
    gap: 5px;
  }

  .syllable-box {
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
    flex-direction: column; /* Stack icon and text vertically */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    display: flex; /* Keeps the boxes close together */
    margin-bottom: 5px;
    height: 15%; /* Each syllable box takes 13% height */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
    cursor: pointer; /* Indicate that the box is clickable */
  }

  .syllable-box:hover {
    background-color: #eaeaea;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Slightly enlarge on hover */
  }

  h2 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin: 0; /* Remove margin to align text properly */
  }

  .syllable-box.selected {
    background-color: #a2a2a2; /* Change background for selected state */
    color: white; /* Change text color for visibility */
    border-color: #6d6d6d; /* Darker border for selected state */
  }

  .hidden {
    display: none !important;
  }

  .centered-box {
    height: 100%;
    border: 6px dashed #6c757d;
    border-radius: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .display-text {
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
  }

  .hand-icon {
    font-size: 12rem;
    animation: float 2s ease-in-out infinite; /* Animation for floating */
  }

  /* Keyframes for the floating effect */
  @keyframes float {
    0% {
      transform: translateY(0); /* Start at normal position */
    }
    50% {
      transform: translateY(-20px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Return to the normal position */
    }
  }

  .assess-div {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap size as needed */
    height: 100%; /* Take up available vertical space */
  }

  .guide-div,
  .input-div {
    flex-grow: 1; /* Make each box take up equal space */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em; /* Adjust text size as needed */
    color: #333;
  }

  .guide-div {
    border: 6px dashed #6c757d;
    border-radius: 20px;
    height: 100px; /* Fixed height */
    width: 100%; /* Make it take up full width */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevent overflow */
  }

  .letter-icon {
    width: 2em; /* Relative to the font size */
    height: 2em; /* Relative to the font size */
  }

  .input-div {
    border: 6px solid #6c757d; /* Same border as guide-div */
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Center letters horizontally */
    gap: 10px; /* Space between the letters */
  }

  .letter-wrapper {
    display: inline-block;
    width: 40px; /* Set a fixed width for the underline */
    margin-right: 10px; /* Adjust the space between underlines */
    position: relative; /* Make sure positioning works as intended */
  }

  .underline {
    display: block;
    width: 100%; /* Make the underline fill the width of the letter-wrapper */
    height: 5px; /* Underline thickness */
    background-color: var(--black); /* Underline color */
    position: absolute;
    bottom: 0;
  }

  .letter {
    font-size: 3rem; /* Adjust the size of the letter */
    font-weight: bold;
    padding-bottom: 5px;
  }
</style>

<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="javascript:history.back()">
    <i class="bi bi-arrow-left"></i>
    Letter {{letter}}
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('learn') }}">Learn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('quiz') }}">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('collection') }}">Collection</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="avatarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ avatar or 'https://via.placeholder.com/50' }}"
            alt="Avatar"
            class="rounded-circle"
            style="width: 35px; height: 35px; margin-right: 5px"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="avatarDropdown">
          <li>
            <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  {# Loading Div #}
  <div
    id="loadingContainerDiv"
    class="firstRow w-100 h-100 d-flex align-items-center justify-content-center"
  >
    <div class="col text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p>Loading, please wait...</p>
    </div>
  </div>

  <div class="row w-100" id="mainContent" style="display: none">
    <!-- First Column (10%) -->
    <div class="col-12 col-md-2">
      <div class="syllables" id="syllablesContainer">
        <!-- Syllables will be dynamically added here -->
      </div>
    </div>

    <!-- Second Column (45%) -->
    <div class="col-12 col-md-5">
      {% include 'components/cameraLetter.html' %}
    </div>

    <!-- Third Column -->
    <div class="col-md-5 h-100">
      <div class="d-flex h-100 align-items-center justify-content-center">
        <!-- Original div (centered-box) -->
        <div class="centered-box w-100 d-none">
          <p class="display-text">Show your hand</p>
          <i class="bi bi-hand-index hand-icon"></i>
        </div>

        <!-- New divs (initially hidden) -->
        <div class="assess-div w-100 flex-column">
          <div class="guide-div"></div>
          <div class="input-div"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Correct Answer -->
  <div
    class="modal fade"
    id="correctModal"
    tabindex="-1"
    aria-labelledby="wordModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--green)">
          <h5
            class="modal-title"
            id="correctModalLabel"
            style="color: white"
          ></h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p
            id="modalWordCorrect"
            class="mt-3"
            style="text-align: center; font-size: 2rem; font-weight: bold"
          >
            Tama!
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            data-bs-dismiss="modal"
            style="
              background-color: var(--green);
              color: white;
              border-radius: 50% !important;
              border: 5px solid var(--dark-green);
            "
          >
            <img
              src="{{ url_for('static', filename='assets/letter_icon/thumbs_Up.png') }}"
              alt="Done"
              style="
                width: 50px;
                height: 50px;
                margin: 5px;
                margin-bottom: 10px;
                margin-right: 8px;
              "
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import { getLetterAndSyllables } from "../../static/js/databaseServices.js";

  const currentLetter = "{{ letter }}"; // Ensure letter is treated as a string
  // Reference to the input field and button
  const userInput = document.getElementById("inputField");
  const submitButton = document.getElementById("submitButton");
  const containerLoading = document.getElementById("loadingContainerDiv");
  const containerMain = document.getElementById("mainContent");
  let currentSyllable = ""; // To track the current syllable selected
  // Establish a connection to the server using SocketIO
  const socket = io.connect();
  let currentIndex = 0;

  // Initialize loading state
  let isLoading = true;
  console.log("isLoading: ", isLoading);

  socket.on("correct_detection", function (data) {
    const centeredBox = document.querySelector(".centered-box"); // Target the original centered-box div

    if (data.correct) {
      // Hide the original box
      centeredBox.classList.add("d-none");

      const inputDiv = document.querySelector(".input-div");
      const recognizedLetter = data.recognized_letter;

      // Get the target word (dynamically set based on selected syllable or letter)
      const targetWord = currentSyllable; // The syllable or letter clicked by the user

      // Find the first available letter wrapper (the first underline)
      const letterWrappers = inputDiv.querySelectorAll(".letter-wrapper");

      // Only update the first underline (letter wrapper) with the recognized letter
      const firstLetterWrapper = letterWrappers[0];

      // Find the existing letter, if any, and update it
      const existingLetter = firstLetterWrapper.querySelector(".letter");

      if (existingLetter) {
        // If there's an existing letter, update its content
        existingLetter.textContent = recognizedLetter;
      } else {
        // If no letter is present yet, create the letter element
        const letterElement = document.createElement("span");
        letterElement.className = "letter";
        letterElement.textContent = recognizedLetter;

        // Check if the recognized letter matches the target letter at this position
        const targetLetter = targetWord[0]; // Assuming we're only focusing on the first letter
        if (recognizedLetter === targetLetter) {
          letterElement.style.color = "green"; // Match (green)
        } else {
          letterElement.style.color = "var(--red)"; // Mismatch (red)
        }

        // Append the letter element to the first letter wrapper
        firstLetterWrapper.appendChild(letterElement);
      }
    } else {
      // Handle incorrect recognition or other logic here
      // centeredBox.classList.remove('d-none');  // Show original box
    }
  });

  // Call the function to get the letter and syllables
  getLetterAndSyllables(currentLetter)
    .then((data) => {
      console.log("Letter and Syllables:", data);
      displaySyllables(data);
      loadingContainerDiv.style.setProperty("display", "none", "important");
      containerMain.style.display = "flex"; // Show main content
      console.log("isLoading Done: ", isLoading);
    })
    .catch((error) => {
      console.error("Error fetching letter and syllables:", error);
      containerLoading.innerHTML =
        "<p>Error loading data. Please try again.</p>"; // Show error message
      console.log("isLoading not Done: ", isLoading);
    });

  function displaySyllables(data) {
    const syllablesContainer = document.getElementById("syllablesContainer");

    const vowels = new Set(["A", "E", "I", "O", "U", "a", "e", "i", "o", "u"]);

    const letterSyllableBox = document.createElement("h2");
    letterSyllableBox.className =
      "syllable-box" + (vowels.has(data.letter) ? " vowel" : "");
    letterSyllableBox.textContent = data.letter;
    syllablesContainer.appendChild(letterSyllableBox);

    letterSyllableBox.classList.add("selected");
    populateGuideDiv(data.letter);
    populateInputDiv(data.letter); // Populate input div for the letter

    letterSyllableBox.addEventListener("click", function () {
      clearSelectedSyllables();
      letterSyllableBox.classList.add("selected");
      populateGuideDiv(data.letter);
      populateInputDiv(data.letter);
    });

    if (!vowels.has(data.letter)) {
      data.syllables.forEach((syllable) => {
        const syllableBox = document.createElement("h2");
        syllableBox.className = "syllable-box";
        syllableBox.textContent = syllable;
        syllablesContainer.appendChild(syllableBox);

        syllableBox.addEventListener("click", function () {
          clearSelectedSyllables();
          syllableBox.classList.add("selected");
          populateGuideDiv(syllable);
          populateInputDiv(syllable); // Populate input div based on selected syllable

          // Set current syllable dynamically when a syllable is clicked
          currentSyllable = syllable;
        });
      });
    }
  }

  function populateInputDiv(syllable) {
    const inputDiv = document.querySelector(".input-div");
    inputDiv.innerHTML = ""; // Clear previous content

    for (const char of syllable) {
      const letterWrapper = document.createElement("span");
      letterWrapper.className = "letter-wrapper";

      // Only create the underline for each character
      const underline = document.createElement("span");
      underline.className = "underline";

      letterWrapper.appendChild(underline); // Append underline without the letter
      inputDiv.appendChild(letterWrapper); // Append the wrapper to the input div
    }
  }

  // Function to clear previous selections
  function clearSelectedSyllables() {
    const syllableBoxes = document.querySelectorAll(".syllable-box");
    syllableBoxes.forEach((box) => {
      box.classList.remove("selected"); // Remove selected class from all boxes
    });
  }

  // Function to populate the guide-div with letters and SVGs
  function populateGuideDiv(syllable) {
    const guideDiv = document.querySelector(".guide-div");
    guideDiv.innerHTML = ""; // Clear existing content

    for (let i = 0; i < syllable.length; i++) {
      const letter = syllable[i];

      // Create letter container
      const letterWrapper = document.createElement("div");
      letterWrapper.classList.add("letter-wrapper");

      // Add letter display
      const letterDisplay = document.createElement("span");
      letterDisplay.textContent = letter;

      // Add SVG icon
      const letterIcon = document.createElement("img");
      letterIcon.src = `/static/assets/svg_icon/${letter.toUpperCase()}.svg`; // Update path to SVGs
      letterIcon.classList.add("letter-icon");
      letterIcon.dataset.letter = letter;

      // Add everything to the wrapper
      letterWrapper.appendChild(letterDisplay);
      letterWrapper.appendChild(letterIcon);

      // Add arrow if it’s not the last letter
      if (i < syllable.length - 1) {
        const arrowIcon = document.createElement("span");
        arrowIcon.classList.add("arrow-icon");
        arrowIcon.textContent = "→";
        letterWrapper.appendChild(arrowIcon);
      }

      guideDiv.appendChild(letterWrapper);
    }
  }

  // Function to check user input
  function checkInput() {
    const inputValue = userInput.value.trim().toLowerCase(); // Get user input and trim whitespace
    const currentSyllable = document
      .querySelector(".card-body span")
      .textContent.toLowerCase(); // Get the currently displayed syllable

    if (inputValue === currentSyllable) {
      // Show modal for correct answer
      $("#correctModal").modal("show"); // Ensure you have a modal with this ID in your HTML
    } else {
      // Optionally handle incorrect answers
      alert("Try again!"); // Or use a different method to inform the user
    }
  }

  // Add event listener to submit button
  submitButton.addEventListener("click", checkInput);
</script>

<!-- JavaScript to handle loading modal -->
<script>
  // Handle page show event
  window.addEventListener("pageshow", function (event) {
    $("#mainLoadingModal").modal("hide");
  });
</script>

{% endblock %}
