{% extends 'base.html' %} {% block content %}
<style>
  html,
  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .container-fluid {
    height: calc(100vh - 56px); /* Full height minus the navbar height */
    padding: 0;
    margin-top: 56px;
    overflow: hidden;
  }

  .row {
    height: 100%;
    margin: 0;
  }

  .col-md-8,
  .col-md-4 {
    padding: 0;
    overflow: hidden;
  }

  .col-md-4 {
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .nav-tabs .nav-item {
    flex: 1;
    text-align: center;
  }

  .nav-tabs .nav-link {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid transparent;
    display: block;
    padding: 10px 0;
    font-weight: bold;
    color: black;
  }

  .nav-tabs .nav-link.active {
    border-color: #007bff;
    color: var(--primary) !important;
  }

  .nav-tabs .nav-link:not(.active) {
    color: black;
  }

  .word-box-container {
    max-height: calc(100vh - 56px - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 10px;
  }

  .word-box {
    margin-top: 15px;
  }

  .word-item {
    position: relative;
    width: 100%;
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
  }

  .word-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .word-item > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
  }

  .word-item.selected {
    border: 3px solid var(--primary);
    opacity: 0.9;
  }

  .btn {
    height: calc(100% - 2px);
  }

  .message-card {
    display: none; /* Initially hidden */
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .card-body {
    background-color: #f8f9fa !important;
    font-size: 24px !important;
    font-weight: bold !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    color: rgba(0, 0, 0, 0.663);
  }

  .input-container {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
  }

  .input-group {
    display: flex;
    width: 100%; /* Make input field and button full width */
  }

  .input-group .form-control {
    flex: 1; /* Input field takes up remaining space */
    margin-right: 10px; /* Space between input field and button */
  }

  .button {
    border-radius: 5px;
    padding: 0 30px 0 30px; /* Make button height match input field */
  }
</style>

<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="javascript:history.back()">
    <i class="bi bi-arrow-left"></i>
  </a>
  <div class="navbar-brand" style="color: white">{{ letter }}</div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('learn') }}">Learn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('quiz') }}">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('collection') }}">Collection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main Content -->
<div class="container-fluid">
  <div class="row">
    <!-- First column with 60% width -->
    <div class="col-md-8">{% include 'components/cameraLearn.html' %}</div>

    <!-- Second column with 40% width -->
    <div class="col-md-4">
      <!-- Tabs for syllables -->
      <ul
        class="nav nav-tabs justify-content-center"
        id="syllableTabs"
        role="tablist"
      >
        {% for syllable in syllable_data.keys() %}
        <li class="nav-item">
          <a
            class="nav-link {% if loop.first %}active{% endif %}"
            id="{{ syllable }}-tab"
            data-toggle="tab"
            href="#{{ syllable }}"
            role="tab"
            aria-controls="{{ syllable }}"
            aria-selected="{% if loop.first %}true{% else %}false{% endif %}"
          >
            {{ syllable }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <!-- Tab Content -->
      <div class="tab-content mt-2" id="syllableTabsContent">
        {% for syllable, words in syllable_data.items() %}
        <div
          class="tab-pane fade {% if loop.first %}show active{% endif %}"
          id="{{ syllable }}"
          role="tabpanel"
          aria-labelledby="{{ syllable }}-tab"
        >
          <div class="word-box-container">
            <div class="word-box">
              {% for word in words %}
              <div
                class="word-item"
                style="background-image: url('https://firebasestorage.googleapis.com/v0/b/abakada-flask.appspot.com/o/{{ word.text }}{{ word.extension }}?alt=media');"
                data-word="{{word.text}}"
                data-value="{{word.value}}"
              >
                <span>{{ word.text }}</span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Modal Correct -->
<div
  class="modal fade"
  id="wordModalCorrect"
  tabindex="-1"
  aria-labelledby="wordModalLabel"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: var(--green)">
        <h5 class="modal-title" id="wordModalLabelCorrect" style="color: white">
          You are CORRECT!!! &#127881;
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modalWordCorrect" class="mt-3"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn"
          style="background-color: var(--green); color: white"
          onclick="markAsLearned('{{ letter }}', syllable, selectedWord)"
        >
          Marked as Learned
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Wrong -->
<div
  class="modal fade"
  id="wordModalWrong"
  tabindex="-1"
  aria-labelledby="wordModalLabel"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: var(--red)">
        <h5 class="modal-title" id="wordModalLabelWrong" style="color: white">
          You are incorrect &#128531;
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modalWordWrong" class="mt-3"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Try Again
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  // Store the selected word and value
  let selectedWord = "";
  let selectedValue = "";
  let syllable = ""; // Declare the syllable variable globally
  // Enable input container on word box click
  document.querySelectorAll(".word-item").forEach(function (wordItem) {
    wordItem.addEventListener("click", function () {
      selectedWord = this.getAttribute("data-word");
      selectedValue = this.getAttribute("data-value");
      const wordText = this.querySelector("span").innerText;

      // Get the current active tab to find the syllable
      const activeTab = document.querySelector(".nav-tabs .nav-link.active");
      syllable = activeTab
        ? activeTab.getAttribute("id").replace("-tab", "")
        : null; // Assign the syllable value to the global variable

      // Show the input container and enable the input field
      const inputContainer = document.getElementById("inputContainer");
      const messageCard = document.getElementById("messageCard");

      messageCard.style.display = "none"; // Hide the message card
      inputContainer.style.display = "block"; // Show the input container

      const inputField = inputContainer.querySelector("input");
      inputField.disabled = false; // Enable the input field
      inputField.value = selectedValue;
      inputField.focus(); // Optionally focus the input field

      // Highlight the selected word visually
      document.querySelectorAll(".word-item").forEach(function (item) {
        item.classList.remove("selected"); // Remove 'selected' class from all
      });
      this.classList.add("selected"); // Add 'selected' class to the clicked word
    });
  });

  // Handle form submission
  function submitInput() {
    const userInput = document
      .getElementById("inputContainer")
      .querySelector("input").value;

    // Check if user input matches the selected word's value
    if (userInput === selectedValue) {
      // Replace spaces with hyphens for selectedValue
      const formattedValue = selectedValue.replace(/ /g, "-");

      // Update modal content
      document.getElementById("modalWordCorrect").innerHTML =
        "Congratulations! You got it right! The syllabified version of <span style='color: var(--green); font-weight: bold;'>" +
        selectedWord +
        "</span> is <span style='color: var(--green); font-weight: bold;'>" +
        formattedValue +
        "</span>.";

      // Show the modal
      const wordModal = new bootstrap.Modal(
        document.getElementById("wordModalCorrect")
      );
      wordModal.show();
    } else {
      // Update modal content
      document.getElementById("modalWordWrong").innerHTML =
        "Sorry, that's not correct. The correct syllabified version of <span style='color: var(--red); font-weight: bold;'>" +
        selectedWord +
        "</span> is not " +
        "<span style='color: var(--red); font-weight: bold;'>" +
        userInput +
        "</span>.";

      // Show the modal
      const wordModal = new bootstrap.Modal(
        document.getElementById("wordModalWrong")
      );
      wordModal.show();
    }
  }

  // Get the submit button from cameraLearn.html
  const submitButtonInCamera = document.getElementById("submitButton");

  // Check if the button exists to avoid errors
  if (submitButtonInCamera) {
    // Attach the event listener to the submit button
    submitButtonInCamera.addEventListener("click", function () {
      submitInput(); // Call the submitInput function
    });
  }

  function markAsLearned(letter, syllable, word) {
    console.log(letter, " ", syllable, "", word);
    // Send an AJAX request to the Flask backend to mark the word as learned
    fetch("/mark_as_learned", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ letter: letter, syllable: syllable, word: word }),
    })
      .then((response) => {
        if (response.ok) {
          alert("Word marked as learned!");
          $("#wordModalCorrect").modal("hide");
        } else {
          alert("Error marking word as learned.");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  // If needed, you can hide the input container and show the message card again when you want
  // For example, when the input is submitted or if a reset action occurs
</script>

{% endblock %}
