{% extends 'base.html' %} {% block title %}Pagsasanay{% endblock %} {% block
content %}

<style>
  .main_container {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 10;
    box-sizing: border-box;
  }
  .card {
    width: 250px;
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 25px;
  }
  .filter-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .button_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }
  .row {
    width: 100%;
    height: 100%;
    align-content: flex-start;
  }
  .option-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures the letter is at the top and the progress bar at the bottom */
    align-items: center;
    min-height: 14vh;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    flex: 1;
  }
  .option-box:hover {
    background-color: #eaeaea;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  h2 {
    font-size: 32px;
    color: #333;
    font-weight: bold;
    margin: 0;
  }
  .letter-container {
    flex: 1; /* Allow this div to take up available space */
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 50px; /* Optional: adjust the minimum height as needed */
  }
  .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
    max-height: 20%;
  }
  .navbar-nav {
    margin-left: auto;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="javascript:history.back()">
    <i class="bi bi-arrow-left"></i>
    Pagsasanay
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('learn') }}">Pag-aaral</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('quiz') }}">Pagsasanay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('collection') }}">Mga salita</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="avatarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ avatar or 'https://via.placeholder.com/50' }}"
            alt="Avatar"
            class="rounded-circle"
            style="width: 35px; height: 35px; margin-right: 5px"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="avatarDropdown">
          <li>
            <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Help dropdown on the right side -->
    <div class="nav-item dropdown ms-auto help-button">
      <a
        class="btn btn-outline-light dropdown-toggle"
        id="helpDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Gabay
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="helpDropdown"
      >
        <li>
          <a
            class="dropdown-item"
            href="javascript:void(0);"
            onclick="startIntro()"
            >Gabay sa pahina ng pag-aaral</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#summaryModal"
            >Pangkalahatang gabay</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main_container">
  <div class="card">
    <h5 class="card-header">Pagsasala</h5>
    <div class="card-body">
      <div class="filter-options">
        <label
          ><input type="radio" name="filter" value="all" checked /> Lahat</label
        >
        <label
          ><input type="radio" name="filter" value="vowels" /> Pantig
          (Vowels)</label
        >
        <label
          ><input type="radio" name="filter" value="consonants" /> Katinig
          (Consonants)</label
        >
      </div>
    </div>
  </div>

  <div class="button_container">
    <div class="row">
      {% for letter in all_letters %}
      <div
        class="col-md-3 mb-3 letter-box all {{ 'vowel' if letter in vowels else 'consonant' }}"
      >
        <div
          class="option-box"
          data-id="{{ userId }}"
          onclick="checkCompletedCount('{{ letter.letter }}','{{letter.totalWords}}', this.dataset.id)"
        >
          <div class="letter-container">
            <h2>{{ letter.letter }}</h2>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="wordCountModal"
  tabindex="-1"
  aria-labelledby="wordCountModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header"
        style="background-color: var(--black); color: white"
      >
        <i
          class="fas fa-question-circle"
          id="helpIcon"
          style="cursor: pointer; margin-right: 10px; font-size: 1.5rem"
        ></i>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer justify-content-center">
        <!-- Centering the buttons -->
        <button
          type="button"
          class="btn"
          id="addBtn"
          style="
            background-color: var(--black);
            color: white;
            font-size: 1.2rem;
            margin-right: 10px;
          "
        >
          Magdagdag ng random na salita
        </button>
        <button
          type="button"
          class="btn"
          id="proceedBtn"
          style="
            background-color: var(--black);
            color: white;
            font-size: 1.2rem;
          "
        >
          Magpatuloy sa pagsasanay
        </button>
        <button
          type="button"
          class="btn d-none"
          id="retryBtn"
          style="
            background-color: var(--black);
            color: white;
            font-size: 1.2rem;
            margin-left: 10px;
          "
        >
          Subukan muli ang mga salita sa letra
        </button>
      </div>
    </div>
  </div>
</div>

<script>

  document.querySelectorAll('input[name="filter"]').forEach(function (radio) {
    radio.addEventListener("change", function () {
      var filter = this.value;

      document.querySelectorAll(".letter-box").forEach(function (box) {
        if (filter === "all") {
          box.style.display = "block";
        } else if (filter === "vowels" && box.classList.contains("vowel")) {
          box.style.display = "block";
        } else if (
          filter === "consonants" &&
          box.classList.contains("consonant")
        ) {
          box.style.display = "block";
        } else {
          box.style.display = "none";
        }
      });
    });
  });

  function checkCompletedCount(letter, totalWordCount, userId) {
    fetch(`/api/user/${userId}`)
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((userData) => {
        const userLetterData = userData.complete && userData.complete[letter];
        const userWordCount = userLetterData
          ? Object.values(userLetterData).reduce(
              (acc, syllableWords) => acc + syllableWords.length,
              0
            )
          : 0;

        console.log("userWordCount: ", userWordCount);
        console.log("totalWordCount: ", totalWordCount);
        console.log("remaining words: ", totalWordCount - userWordCount);

        const remainingWords = totalWordCount - userWordCount;

        // Show modal if there are fewer than 10 words remaining
        if (remainingWords < 10) {
          document.querySelector(
            ".modal-body"
          ).innerHTML = `<p class="mt-3" style="text-align: center; font-size: 2rem; font-weight: bold">Natitirang mga salita: ${remainingWords}</p>`;
          $("#wordCountModal").modal("show");

          const proceedBtn = document.getElementById("proceedBtn");
          const retryBtn = document.getElementById("retryBtn");
          const addBtn = document.getElementById("addBtn");

          // If the user has completed all words
          if (remainingWords === 0) {
            proceedBtn.style.display = "none"; // Hide the proceed button
            retryBtn.classList.remove("d-none"); // Show the retry button
          } else {
            proceedBtn.style.display = "inline-block"; // Show the proceed button
            retryBtn.classList.add("d-none"); // Hide the retry button
          }

          // Attach event listeners
          addBtn.onclick = function () {
            const redirectUrl = `/randomizeCategory/${letter}?action=add`;
            window.location.href = redirectUrl;
          };

          proceedBtn.onclick = function () {
            const redirectUrl = `/randomizeCategory/${letter}?action=proceed`;
            window.location.href = redirectUrl;
          };

          retryBtn.onclick = function () {
            const redirectUrl = `/randomizeCategory/${letter}?action=retry`;
            window.location.href = redirectUrl;
          };
        } else {
          // Automatically redirect to proceed if enough words are available
          const redirectUrl = `/randomizeCategory/${letter}?action=proceed`;
          window.location.href = redirectUrl;
        }
      })
      .catch((error) => {
        console.error("Error fetching user data: ", error);
        alert("Error fetching data. Please try again later.");
      });
  }


  // Initialize the popover on the help icon
  $(document).ready(function () {
    $("#helpIcon").popover({
      trigger: "click", // Show popover on click
      content:
        "Walang sapat na mga salita para sa letrang ito. Gusto mo bang magpatuloy sa pagsusulit, o nais mo bang magdagdag ng random na salita mula sa ibang letra?",
      placement: "left",
      html: true,
    });
  });

  // Check if the tour should start
  const showTour = {{ show_tour | tojson }};
  if (showTour) {
    startIntro();
  }


  function startIntro() {
    // Start the intro tour
    introJs()
      .setOptions({
        disableInteraction: true,
        steps: [
          {
            element: document.querySelector(".button_container"),
            title: "Kahon ng letra",
            intro:
              "Pumili ng letra na magiging gabay sa pagpili ng mga salita na iyong sasanayin",
            position: "left",
          },
          {
            element: document.querySelector(".card"),
            title: "Pangsala",
            intro:
              "Isala ang mga letra sa iyong pagpili (Lahat, Patinig, Katinig)",
          },
          {
            element: document.querySelector(".navbar-nav"),
            title: "Menu",
            intro: "Mag-navigate sa iba't ibang bahagi ng aplikasyon",
            position: "bottom",
          },
          {
            element: document.querySelector(".help-button"),
            title: "Gabay",
            intro:
              "Pindutin upang makakuha ng tulong at gabay sa paggamit ng aplikasyon",
            position: "bottom",
          },
        ],
      })
      .start();
  }
</script>

{% endblock %}
