{% extends 'base.html' %} {% block title %}Profile{% endblock %} {% block
content %}

<style>
  .container-profile {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 30px;
    padding-top: 65px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  .card {
    flex: 1;
    margin: 10px;
    min-height: 0;
  }

  .achievements-card {
    flex: 1.5;
    position: relative;
  }

  .avatar {
    width: 15vw;
    height: 15vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid var(--primary-color);
  }

  .divider {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .achievements-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    /* display: none; Initially hidden until images are loaded */
  }

  .achievement-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Faded effect for False icons */
  .faded-icon {
    opacity: 0.2; /* Make it slightly faded */
    transition: opacity 0.3s ease; /* Smooth transition on hover */
  }

  /* Animation for True icons */
  .completed-icon {
    animation: bounce 1s ease-in-out infinite; /* Apply bounce animation */
  }

  /* Custom tooltip styling for true badges (gold background) */
  .tooltip-inner.true-badge {
    background-color: gold !important; /* Set the background to gold */
    color: black !important; /* Set the text color to black */
    border: 2px solid rgb(194, 153, 18); /* Black border */
    border-radius: 5px;
    padding: 5px 10px;
  }

  /* Custom tooltip styling for false badges (white background) */
  .tooltip-inner.false-badge {
    background-color: rgb(
      57,
      57,
      57
    ) !important; /* Set the background to white */
    color: white !important; /* Set the text color to black */
    border: 2px solid black; /* Black border */
    border-radius: 5px;
    padding: 5px 10px;
  }

  /* Tooltip arrow for true badges */
  .tooltip-arrow.true-badge {
    border-top-color: gold !important;
  }

  /* Tooltip arrow for false badges */
  .tooltip-arrow.false-badge {
    border-top-color: white !important;
  }

  /* Keyframes for bouncing animation */
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0); /* Start and end at the normal position */
    }
    50% {
      transform: translateY(
        -5px
      ); /* Move slightly up at the middle of the animation */
    }
  }

  @media (max-width: 768px) {
    .container-profile {
      flex-direction: column;
    }

    .card {
      width: 100%;
    }

    .achievements-grid {
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="navbar-brand" style="color: white">Profile</div>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('learn') }}">Pag-aaral</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('quiz') }}">Pagsasanay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('collection') }}">Mga Salita</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="avatarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ avatar or 'https://via.placeholder.com/50' }}"
            alt="Avatar"
            class="rounded-circle"
            style="width: 35px; height: 35px; margin-right: 5px"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="avatarDropdown">
          <li>
            <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Help dropdown on the right side -->
    <div class="nav-item dropdown ms-auto help-button">
      <a
        class="btn btn-outline-light dropdown-toggle"
        id="helpDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Gabay
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="helpDropdown"
      >
        <li>
          <a
            class="dropdown-item"
            href="javascript:void(0);"
            onclick="startIntro()"
            >Gabay sa pahina ng pag-aaral</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#summaryModal"
            >Pangkalahatang gabay</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-profile">
  <div class="card myProfile">
    <div class="card-header">Aking profile</div>
    <div class="card-body text-center">
      <img
        src="{{ avatar or 'https://via.placeholder.com/100' }}"
        alt="Avatar"
        class="avatar"
      />

      <div class="info-row">
        <h5>User ID:</h5>
        <span id="userID">{{ user_id }}</span>
      </div>
      <div class="divider"></div>

      <div class="info-row">
        <h5>Buong Pangalan:</h5>
        <span id="fullName">{{ full_name }}</span>
      </div>
      <div class="divider"></div>

      <div class="info-row">
        <h5>Edad:</h5>
        <span id="age">{{ age }}</span>
      </div>
      <div class="divider"></div>

      <div class="info-row">
        <h5>Kaarawan:</h5>
        <span id="birthday">{{ birthday }}</span>
      </div>
      <div class="divider"></div>

      <div class="info-row">
        <h5>Email:</h5>
        <span id="email">{{ email }}</span>
      </div>
    </div>
  </div>

  <div class="card achievements-card">
    <div class="card-header">Achievements</div>

    <!-- Spinner -->
    <!-- <div class="spinner-container" id="spinner">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div> -->

    <!-- Achievements Grid -->
    <div class="card-body achievements-grid" id="achievementsGrid">
      {% for letter in ['A', 'B', 'K', 'D', 'E', 'G', 'H', 'I', 'L', 'M', 'N',
      'Ng', 'O','P', 'R', 'S', 'T', 'U', 'W', 'Y'] %} {% if badges.get(letter,
      False) %}
      <!-- If badge is True, display the regular image -->
      <img
        src="{{ url_for('static', filename='assets/achievements/' + letter + '.png') }}"
        alt="{{ letter }}"
        class="achievement-icon animate__animated animate__tada infinite-loop"
        data-toggle="tooltip"
        title="<strong>Pagbati!</strong> Natapos mo na ang lahat ng salita sa letrang <strong>{{ letter }}</strong> sa iyong <strong>pagsasanay</strong>"
        data-tooltip-class="true-badge"
      />
      {% else %}
      <!-- If badge is False, display the outline image -->
      <img
        src="{{ url_for('static', filename='assets/achievements/' + letter + '_OUTLINE.png') }}"
        alt="{{ letter }} outline"
        class="achievement-icon faded-icon"
        data-toggle="tooltip"
        title="Kumpletuhin lahat ng salita sa letrang <strong>{{ letter }}</strong> sa iyong <strong>pagsasanay</strong> upang makuha ang badge"
        data-tooltip-class="false-badge"
      />
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

<script>
  // Check if the tour should start
  const showTour = {{ show_tour | tojson }};
  if (showTour) {
    startIntro();
  }

  document.addEventListener("DOMContentLoaded", function () {
    $(document).ready(function () {
      // Initialize all tooltips with dynamic classes
      $('[data-toggle="tooltip"]').each(function () {
        var tooltipClass = $(this).data("tooltip-class"); // Get the class from the data attribute
        $(this).tooltip({
          template: `<div class="tooltip" role="tooltip"><div class="tooltip-arrow ${tooltipClass}"></div><div class="tooltip-inner ${tooltipClass}"></div></div>`, // Apply the class to the tooltip
          html: true, // Allow HTML content inside the tooltip
        });
      });
    });
  });

  function startIntro() {
    // Start the intro tour
    introJs()
      .setOptions({
        disableInteraction: true,
        steps: [
          {
            element: document.querySelector(".myProfile"),
            title: "Detalye ng user",
            intro: "",
            position: "left",
          },
          {
            element: document.querySelector(".achievements-card"),
            title: "Tropeyo",
            intro:
              "Ipinapakita dito ang mga letra na nakumpleto na ng user sa kaniyang pagsasanay",
          },
          {
            element: document.querySelector(".navbar-nav"),
            title: "Menu",
            intro: "Mag-navigate sa iba't ibang bahagi ng aplikasyon",
            position: "bottom",
          },
          {
            element: document.querySelector(".help-button"),
            title: "Gabay",
            intro:
              "Pindutin upang makakuha ng tulong at gabay sa paggamit ng aplikasyon",
            position: "bottom",
          },
        ],
      })
      .start();
  }
</script>

{% endblock %}
