{% extends 'base.html' %} {% block title %}Quiz{% endblock %} {% block content
%}

<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="navbar-brand" style="color: white">Quiz</div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Align tabs to the right -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('learn') }}">Learn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('quiz') }}">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('collection') }}">Collection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <div
        class="quiz-option"
        onclick="window.location.href=`{{ url_for('m_quiz') }}`"
      >
        <div class="option-box">
          <h2>Random</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div
        class="quiz-option"
        onclick="window.location.href=`{{ url_for('picker') }}`"
      >
        <div class="option-box">
          <h2>Picker</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .navbar {
    margin-bottom: 0;

    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .quiz-option {
    width: 100%;
    padding: 40px;
  }

  .option-box {
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .option-box:hover {
    background-color: #eaeaea;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  h2 {
    font-size: 32px;
    color: #333;
    font-weight: bold;
  }
</style>
{% endblock %}
