{% extends 'base.html' %} {% block title %}Admin{% endblock %} {% block content
%}

<style>
  .container-admin {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .navbar {
    margin-bottom: 0;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .navbar-nav {
    margin-left: auto;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="navbar-brand" style="color: white">Admin</div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('learn') }}">Learn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('quiz') }}">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('collection') }}">Collection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('profile') }}">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-admin">
  <div>
    <form method="POST" enctype="multipart/form-data">
      <!-- Enable file upload -->
      <div>
        <label for="letter">Letter:</label>
        <input type="text" name="letter" required />
      </div>
      <div>
        <label for="syllable">Syllable:</label>
        <input type="text" name="syllable" required />
      </div>
      <div>
        <label for="words">Words (comma-separated):</label>
        <input type="text" name="words" required />
      </div>
      <div>
        <label for="file">Upload Image:</label>
        <input type="file" name="file" accept="image/*" required />
        <!-- File picker -->
      </div>
      <div>
        <button type="submit">Add to Database</button>
      </div>
    </form>

    {% if get_flashed_messages() %}
    <ul>
      {% for message in get_flashed_messages(with_categories=true) %}
      <li class="{{ message[0] }}">{{ message[1] }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
  </div>
</div>

{% endblock %}
